

/* Estilos para la versión móvil */
@media only screen and (max-width: 600px) {
    .miDiv {
        margin-top: 5%; /* Reducir el margen superior en dispositivos móviles */
        margin-bottom: 5%; /* Reducir el margen inferior en dispositivos móviles */
    }

    #miButton {
        margin-left: 0; /* Eliminar el margen izquierdo en dispositivos móviles */
    }

    .contenedor {
        height: 300px; /* Reducir la altura del contenedor en dispositivos móviles */
    }

    h1 {
        font-size: 24px; /* Reducir el tamaño de fuente del título en dispositivos móviles */
    }

    h5 {
        font-size: 14px; /* Reducir el tamaño de fuente del subtítulo en dispositivos móviles */
    }
}


/* Estilos para el footer */
footer {
    background-color: #2D2926;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    min-width: 0;
    margin-top: auto; /* Coloca el footer al final */
    padding: 0.2em 0;
}
footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    display: inline;
    margin-right: 20px;
}

footer ul li a {
    color: #ffffff;
    text-decoration: none;
}

li {
    font-family: 'Open Sans';
    font-size: 11px;
}

html, body{
    min-height: 100%;
    margin: 0;
}

body{
    position: relative;
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

/* Estilos para el div */
#miDiv {
    background-color: #004B3A;
    /* width: 200px;
    height: 200px; */
    margin: 0 auto; /* Centrar horizontalmente */
    color: #ffffff; /* Color del texto */
    text-align: center; /* Centrar el texto vertical y horizontalmente */
    line-height: 200px; /* Alineación vertical del texto */
    font-size: 20px; /* Tamaño de la fuente */
}

#miButton {
 background-color: #00915A;
 color: white;
 border-radius: 4px;
 border: 1px solid transparent;
}
.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.miInput {
    border-radius: 4px;
    border: 1px solid transparent;
}

.miGrid {
    display: grid;
    grid-template-columns: 1fr; /* Una columna */
    grid-gap: 10px; /* Espacio entre las filas */
}

.miDiv {
    text-align: left; /* Alinear contenido a la izquierda */
    padding: 40px; /* Espacio alrededor del contenido */
    border: 0px solid #ccc; /* Borde para resaltar la grid */
    background-color: #004B3A;
    color: #ffffff; /* Color del texto */
    width: 100%;
    margin-top: 15%;
    margin-bottom: 10%;
}

.marginDiv{
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 5%;

}

/* Estilos para el formulario */
form {
    margin-top: 10px; /* Espacio superior */
}

label {
    display: block; /* Mostrar en una línea nueva */
    margin-bottom: 5px; /* Espacio inferior */
}

input[type="text"] {
    width: 50%; /* Ocupar todo el ancho disponible */
    padding: 5px; /* Espacio interno */
    margin-bottom: 10px; /* Espacio inferior */
}

button {
    padding: 5px 10px; /* Espacio interno */
    background-color: #004B3A; /* Color de fondo */
    color: #ffffff; /* Color del texto */
    border: none; /* Eliminar borde */
    cursor: pointer; /* Cambiar cursor al pasar sobre el botón */
    margin-left: 3%;
    font-family: miFuente;
}
.contenedor {
    background-image: url('../imagenes/bkg_home.jpg');
    background-size: cover; /* Ajusta el tamaño de la imagen para que cubra todo el contenedor */
    background-position: center; /* Centra la imagen */
    width: 50%;
    height: 550px; /* Altura de ejemplo, ajusta según sea necesario */
    display: flex;
    justify-content: center; /* Centra horizontalmente los elementos hijos */
    align-items: center; /* Centra verticalmente los elementos hijos */
    color: #ffffff; /* Color del texto */
    float: right;
    margin-top: 0%;
    margin-bottom: 5%;
}
h1 {
    font-family: miFuente;
}
h5 {
    font-family: 'Open Sans';
}
@font-face {    
    font-family: "mifuente";    
    src: url("../fuente/BNPPSans-Bold.woff") format('woff');
}

main    {
    margin-top: 0%;
    align-items: center
}